:root {
  --darker: rgb(16, 16, 16);
  --darker-tp: rgba(16, 16, 16, 0.9);
  --grey-text: rgb(177, 177, 177);
  --light: whitesmoke;
}

body {
  background-image: url("./img/other/cat-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Styles are in alphabetical order from this point onward */

#about-img {
  border-bottom-style: solid;
  border-color: var(--light);
  border-width: 1px;
}

.bg-darker {
  background-color: var(--darker);
}

.bg-darker-tp {
  background-color: var(--darker-tp);
}

.card {
  border-width: 1px;
  border-color: var(--light);
  border-radius: 5;
}

.card-body {
  padding: 10px;
}

.card-body p {
  font-weight: normal;
  margin-bottom: auto;
}

.card-h2 {
  color: var(--light);
  background: linear-gradient(0deg, rgb(35, 35, 35), rgb(25, 25, 25), rgb(15, 15, 15));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
}

#category-form {
  min-width: 200px;
}

.container-xxl {
  max-width: 1400px;
}

.container {
  max-width: 1290px;
}

#controller-icon {
  display: inline-block;
  position: relative;
  bottom: 4px;
  margin-right: 0.5rem;
}

#game-img {
  border-style: solid;
  border-radius: var(--bs-border-radius);
  border-color: var(--light);
  border-width: 1px;
}

.game-info-item {
  margin-top: calc(3px + 0.1vw);
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Francois One', sans-serif;
  font-weight: bolder;
  color: whitesmoke;
}

h4 {
  margin-bottom: 0;
}

#home-div {
  padding: 1rem;
}

.img-fluid {
  min-width: 100%;
}

.latest-plans-img {
  border-bottom-style: solid;
  border-color: var(--light);
  border-width: 1px;
}

#navbar-container {
  --bs-gutter-x: 0;
  font-family: 'Francois One', sans-serif;
}

.nav-link {
  font-size: 1.25rem !important;
  color: var(--grey-text);
}

.soc-med-icon {
  text-decoration: none;
  padding-right: 1rem;
  padding-left: 1rem;
}

.sr-list-card {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.sr-list-card-img {
  border-right: solid;
  border-width: 1px;
  border-color: var(--light);
  border-bottom-left-radius: var(--bs-border-radius) !important;
  border-top-left-radius: var(--bs-border-radius) !important;
}

.sr-list-game-info {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.supplemental-text {
  color: var(--grey-text);
  font-weight: 500;
}

#title {
  font-size: 40px;
  font-family: 'Francois One', sans-serif;
  font-weight: bolder;
  color: var(--light);
  padding-left: 1rem;
}

/* Media queries in descending order of screen size */

@media screen and (max-width: 1399px) {
  #about-img {
    border-bottom-style: none;
    border-bottom-left-radius: var(--bs-border-radius);
  }
  #about-info-col {
    padding-left: 0;
  }
  .latest-plans-img {
    border-bottom-style: none;
    border-bottom-left-radius: var(--bs-border-radius);
  }
  .latest-plans-info-col {
    padding-left: 0;
  }
  .left-panel-card-body {
    padding-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .list-info-item {
    margin-top: calc(3px + 0.16vw);
  }
  p {
    font-size: calc(12px + 0.28vw);
  }
}

@media screen and (max-width: 991px) {
  h4 {
    font-size: calc(16px + 0.2vw)
  }
  .list-info-item {
    margin-top: 0;
  }
  p {
    font-size: calc(12px + 0.4vw);
  }
  .sr-list-card-img {
    border-bottom: solid;
    border-right: none;
    border-width: 1px;
    border-color: var(--light);
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: var(--bs-border-radius);
}
}

@media screen and (max-width: 767px) {
  h4 {
    font-size: calc(16px + 1.2vw)
  }
}

@media screen and (max-width: 700px) {
  #about-img {
    display: none;
  }
  #about-img-col {
    width: 100%;
  }
  #about-info-col {
    width: 100%;
  }
  #about-img-card-body {
    padding-left: 10px !important;
  }
  #about-info-col {
    padding-left: 10px !important;
  }
}

@media screen and (max-width: 576px) {
  #home-div {
    padding: 0;
  }
  .latest-plans-info-col {
    padding-left: 0;
  }
  .list-info-item {
    margin-top: calc(3px + 0.2vw);
  }
  p {
    font-size: calc(12px + 0.7vw);
  }
  .sr-list-card-img {
    border-bottom: none;
    border-right: solid;
    border-width: 1px;
    border-color: var(--light);
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: 0;
  }
}

@media screen and (max-width: 550px) {
  #controller-icon {
      display: none;
  }
}

@media screen and (max-width: 500px) {
  .card-text {
    font-size: 13px;
  }
  #about-img {
    border-bottom-style: solid;
    border-bottom-left-radius: 0;
    display: inline;
  }
  .game-platform-year {
    display: none;
  }
  h4 {
    font-size: calc(16px + 0.6vw)
  }
  .list-info-item {
    margin-top: calc(3px + 0.8vw);
  }
  p {
    font-size: calc(12px + 0.2vw);
  }
  .sr-list-game-info {
    margin-top: 4px;
  }
  #title {
    font-size: calc(30px + 0.3vw);
  }
}

@media screen and (max-width: 424px) {
  .card-body {
    padding: 5px !important;
  }
  .sr-img-col {
    width: 50%;
  }
  .sr-info-col {
    width: 50%;
  }
  .sr-list-card-div {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 404px) {
  .latest-plans-img {
    border-bottom-style: solid;
    border-bottom-left-radius: 0;
  }
  .latest-plans-img-col {
    width: 100%;
  }
  .latest-plans-info-col {
    width: 100%;
    padding-left: 12px;
  }
  .navbar {
      justify-content: center;
  }
  .soc-med-icon {
      padding-right: 0.4rem;
      padding-left: 0.4rem;
  }
}

@media screen and (max-width: 374px) {
  .card-body {
    padding: 10px !important;
  }
  #game-img-col {
    width: 33.3%;
  }
  #game-info-col {
    width: 66.7%;
  }
  .game-platform-year {
    display: flex;
  }
  .sr-img-col {
    width: 100%;
  }
  .sr-info-col {
    width: 100%;
  }
  .sr-list-game-title {
    font-size: 23px;
  }
  .sr-list-card-img {
    border-bottom: solid;
    border-right: none;
    border-width: 1px;
    border-color: var(--light);
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: var(--bs-border-radius);
  }
  p {
    font-size: 14px;
  }
}