body {
    background-image: url("../images/cat-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Francois One', sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

.bg-darker {
    background-color: rgba(16, 16, 16);
}

.bg-darker-tp {
    background-color: rgba(16, 16, 16, 0.9);
}

#navbar {
    --bs-gutter-x: 0;
    font-family: 'Francois One', sans-serif;
}

.nav-link {
    font-size: 1.25rem;
}

#controller-icon {
    position: relative;
    bottom: 4px;
}

#title {
    font-size: 40px;
    font-family: 'Francois One', sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    padding-left: 1rem;
}

nav {
    font-size: 1.5rem;;
}

.card {
    --bs-card-border-width: 0;
    --bs-card-border-radius: 0;
}

.card-header {
    color: whitesmoke;
}

