:root {
    --darker: rgb(16, 16, 16);
    --darker-tp: rgba(16, 16, 16, 0.9);
    --grey-text: rgb(177, 177, 177);
}

body {
    background-image: url("../images/cat-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Francois One', sans-serif;
    font-weight: bolder;
    color: whitesmoke;
}

h4 {
    margin-bottom: 0;
}

.bg-darker {
    background-color: var(--darker);
}

.bg-darker-tp {
    background-color: var(--darker-tp);
}

#navbar-container {
    --bs-gutter-x: 0;
    font-family: 'Francois One', sans-serif;
}

.nav-link {
    font-size: 1.25rem;
    color: var(--grey-text);
}

#controller-icon {
    position: relative;
    bottom: 4px;
}

#title {
    font-size: 40px;
    font-family: 'Francois One', sans-serif;
    font-weight: bolder;
    color: whitesmoke;
    padding-left: 1rem;
}

.card {
    border-width: 1px;
    border-color: whitesmoke;
    border-radius: 5;
}

.card-body {
    padding: 10px;
    /* padding-top: 0;
    padding-bottom: 0; */
}

.card-body p {
    font-weight: normal;
    margin-bottom: auto;
}

.card-h2 {
    color: whitesmoke;
    background: linear-gradient(0deg, rgb(75, 75, 75), rgb(45, 45, 45), rgb(15, 15, 15));
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
}

.border-bot {
    border-bottom: solid;
    border-width: 1px;
    border-color: whitesmoke;

}

.border-right {
    border-right: solid;
    border-width: 1px;
    border-color: whitesmoke;

}

.supplemental-text {
    color: var(--grey-text);
    font-weight: 500;
}

.game-info {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.container-xxl {
    max-width: 1400px;
}

.soc-med-icon {
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
}


/* @media screen and (min-width: 1920px) {
    .card p {
        font-size: calc(15px + 0.23vw);
    }
    .card h4 {
        font-size: calc(24px + 0.35vw);
    }
} */

/* @media screen and (min-width: 1540px) {
    p, .supplemental-text {
        font-size: 16px;
    }
} */

